* {
    color: #202124;
}

body {
    background-color: #fae3e1;
}

.area {
    background-color: #ffffff;
    border-radius: 8pt;
    padding: 6pt;
    display: inline-flex;
    width: calc(100% - 16px);
    margin: 0.3em 0 0.3em;
}

.fixed-width {
    width: 330px;
}

.container {
    margin: 6pt;
}

.component {
    margin: 0.5em 0 0.5em;
}

.title {
    font-size: 3em;
    margin: 0.3em 0 0.3em;
}

.line {
    border: solid black 1px;
    opacity: 0.1;
}

.input {
    margin: 5px 4px 5px;
}

.btn {
    width: 100%;
    color: #ffffff;
    background-color: #db4437;
    border-radius: 4pt;
    border: none;
    padding: 0.3em;
    cursor: pointer;
}

.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.no-header {
    padding-top: 0.6em;
}

.result {
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.3em;
    width: calc(100%/4 - 1.8em);
}

.tersedia {
    background-color: lightgreen;
}

.jadwal-resmi {
    background-color: lightcoral;
}

.jadwal-classy {
    background-color: khaki;
}

#warning {
    background-color: lightgoldenrodyellow;
}

#main {
    display: block;
    width: calc(100%-16px);
}

#footer {
    background-color: #db4437;
    color: white;
    text-align: center;
    margin-top: 16px;
    padding: 16pt;
    border-radius: 8pt;
}

#gform-btn {
    font-size:x-large;
    margin-top: 0.6em;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - 16px);
    margin: 8px;
}

@media only screen and (max-width: 1080px) {
    .fixed-width {
        width: calc(100% - 12pt);
    }
    .area {
        display: block;
    }
    .result {
        width: calc(100% - 0.6em - 18pt);
    }
}